.main-header {
  //Logo bar
  .logo {
    font-family: "microsoft yahei", Helvetica, Arial, sans-serif;
    .logo-lg {
      display: block;
    }
    .logo-mini {
      display: none;
    }
  }
}
.skin-blue .wrapper{
  background: transparent;
}
